header{
    background-image: url('../images/header-background.jpg');
    background-color: rgb(174, 101, 241);
    height: 216px;
}
nav{
    text-align: center;
    background-color: rgb(38, 2, 122);
}
nav a{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: rgb(38, 2, 122);
    color: #000000;
    display: inline-block;
    width:  10%;
    color: #FFFFFF;
}

h1{
    text-align: center;
    font-size: 300%;
    padding: 40px;
    color: #FFFFFF;
}
.current{
    background-color: rgb(16, 91, 253);
}
.left{
    display:inline-block;
    float: left;
    width: 30%;
    text-align: center;
}
.right{
    display:inline-block;
    float: left;
    width: 70%;
}
img{
    width:50%;
    margin: 50px auto;
}
footer{
    text-align: center;
}
body{
    padding: 15px;
    margin: 10px;
    }