header{
    background-image: url('../images/header-background.jpg');
    background-color: rgb(174, 101, 241);
    height: 200px;

}
nav{
    text-align: center;
    background-color: rgb(38, 2, 122);
    
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    padding: 0px;
    text-align: center;
    background-color: rgb(38, 2, 122);
    display: inline-block;
    width:  11%;
}



nav a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    transition: 1s background-color;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    line-height: 40px; 
}



nav a:hover{
    background-color: rgb(16, 91, 253);

}


nav li li{
    font-size: .8em;
    display: block;
    width: 95%;
}

nav li li a{
    border-radius: 0%;
}

nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul{
    display: block;
}

h1{
    text-align: center;
    font-size: 300%;
    padding: 40px;
    color: #FFFFFF;
}
.current{
    background-color: rgb(16, 91, 253);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.left{
    display:inline-block;
    float: left;
    width: 30%;
    text-align: center;
}
.right{
    display:inline-block;
    float: left;
    width: 60%;
    line-height: 20pt;
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 30px;
}
img{
    width:66%;
    margin: 50px auto;
}
footer{
    margin: 50px auto;
    display: block;
    text-align: center;
}
body{
    padding: 15px;
    margin: 10px;
    background-color: #CCCCCC;
    font-family: sans-serif;
}

.ps{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    line-height: 25pt;
    text-align:justify;
}

#aboutlinktotop{
    text-align: center;
    display: block;
}

.Experience{
    width: 70%;
    font-size: 110%;
    margin: 0 auto;
    line-height: 30pt;
    text-align:justify;
    margin-top: 50px;
}

.Experience h2{
    text-align: center;
}

.Experience h4{
    text-align: right;
}

.Experience p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.Experience img{
    display:block;
    width: 100%;
}

.Blog{
    width: 70%;
    line-height: 20pt;
    display: block;
    margin: 0 auto;
    border-top: 2px solid rgb(38, 2, 122, 50%);
    clear: both;
}

.Blog h2{
    text-align: center;
}

.Blog h4{
    line-height: 0pt;
}

.Blog p{
    text-align:justify;
}

ol ol{
    list-style-type: upper-alpha;
}

h5{
    font-size:105%;
}

table{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

tr td:first-child{
    text-align: left;
}

tr th:first-child{
    text-align: left;
}

th{
    border-bottom: 1px solid black;
    border-top: black 1px solid;
}

table tr:last-child td{
    border-bottom: 1px solid black;
}

caption{
    font-weight: bold;
}

figurecaption{
    text-align: center;
}
