header{
    background-image: url('../images/header-background.jpg');
    background-color: rgb(174, 101, 241);
    height: 200px;

}
nav{
    text-align: center;
    background-color: rgb(38, 2, 122);
    
}
nav a{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: rgb(38, 2, 122);
    color: #000000;
    display: inline-block;
    width:  10%;
    color: #FFFFFF;
    transition: 2s background-color;
    
}

nav a:hover{
    width: 15%;
    background-color: rgb(16, 91, 253);
    font-size: 120%;
}

h1{
    text-align: center;
    font-size: 300%;
    padding: 40px;
    color: #FFFFFF;
}
.current{
    background-color: rgb(16, 91, 253);
}
.left{
    display:inline-block;
    float: left;
    width: 30%;
    text-align: center;
}
.right{
    display:inline-block;
    float: left;
    width: 60%;
    line-height: 20pt;
    margin-top: 30px;
    margin-right: 10%;
}
img{
    width:70%;
    margin: 50px auto;
}
footer{
    display: block;
    text-align: center;
}
body{
    padding: 15px;
    margin: 10px;
    background-color: #CCCCCC;
    font-family: sans-serif;
}

.ps{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    line-height: 25pt;
    text-align:justify;
}

#aboutlinktotop{
    text-align: center;
    display: block;
}

.Experience{
    width: 70%;
    font-size: 110%;
    margin: 0 auto;
    line-height: 30pt;
    text-align:justify;
}